**/target
**/*.iml
**/*.*.orig
**/*.classpath
**/*.project
**/*.cache
**/.settings
**/.metadata
**/.idea
**/.gradle
**/build
**/classes
**/.vscode/
**/.history/
/web/node
/web/node_modules
/web/src/main/webapp/dist
/web/webpack.config.js
/web/src/main/webapp/index.html